a,a:visited 
{
	transition:.25s;
}

#particles-js,[class~=text]
{
	position:absolute;
}

canvas
{
	display:block;
	vertical-align:bottom;
}

h1, h2, h3, h4, h5, h6, p, li, figcaption, a
{
	color:#36a600;
	font-family:Consolas;
}

.anim
{
	-webkit-animation: fadein 3s;
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein 
{
    from { opacity: 0; }
    to   { opacity: 1; }
}

.text
{
	top:50%;
	right:50%;
	transform:translate(50%,-50%);
	max-width:90%;
	background:rgba(0,0,0,.4);
	text-shadow:0 0 2px #131415;
	font-family:"Open Sans",sans-serif;
	border-radius:8px;
	box-sizing:border-box;
	padding:1.25pc;
}

body
{
	background-color:#2d2d2d;
	overflow:hidden;
}

h1, h2, h3, h4, h5, h6, p, li, figcaption, a
{
	font-family:Consolas;
}

.box
{
	max-width:400px;
	background-color:#000;
	border-image:none;
	opacity:.6;
	filter:alpha(opacity=60);
	border-color:#000;
	margin:22.5pt;
}

button,div[class~=box] {
	border-left-width:.010416667in;
	border-bottom-style:solid;
	border-right-style:solid;
	border-top-style:solid;
}

div[class~=box],button
{
	border-bottom-width:.010416667in;
	border-right-width:.010416667in;
	border-top-width:.010416667in;
	border-left-style:solid;
}

button
{
	box-shadow:inset 0 .75pt 16px -4px #0fff93;
	background-color:#35a800;
	border-image:none;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:.875pc;
	text-decoration:none;
	border-color:#1d5700;
	padding:.375pc .145833333in;
}

button:hover
{
	background-color:#319400;
}

button:active
{
	position:relative;
	top:1px;
}

button,div[class~=transbox] p
{
	font-weight:700;
}

#particles-js
{
	width:100%;
	height:100%;
}